.submit-button{
  font-weight: 700;
  width: 265px;
  height: 81px;
  cursor: pointer;
  color: #313a50;
  background-color: #0FBA81;
  border-radius: 8px;
  transition: .2s ease-in-out 0s;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #57cfa7;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: full;
  height: auto;
  align-items: center;
  justify-items: center;
}

.vs-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winner-button{
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  color: #313a50;
  background-color: #0FBA81;
  border-radius: 8px;
  transition: .2s ease-in-out 0s;
}

.winner-button:hover {
  cursor: pointer;
  background-color: #57cfa7;
}

.isWinner {
  transition: transform 5s ease-in-out;
  transition: box-shadow 1s ease-in-out;
  transition: border 1s ease-in-out;

  transform: scale(1.02);
  border: 1px solid #0FBA81;
  box-shadow: 0 0 8px #0FBA81;
  
}

/* .isWinner:hover {
  transform: scale(1.02);
  border: 1px solid #0FBA81;
  box-shadow: 0 0 8px #0FBA81;
} */