.submit-button{
  font-weight: 700;
  width: 265px;
  height: 81px;
  cursor: pointer;
  color: #313a50;
  background-color: #0FBA81;
  border-radius: 8px;
  transition: .2s ease-in-out 0s;
  margin-bottom: 20px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #57cfa7;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: full;
  height: auto;
  align-items: center;
  justify-items: center;
}

.vs-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.winner-button{
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  color: #313a50;
  background-color: #0FBA81;
  border-radius: 8px;
  transition: .2s ease-in-out 0s;
}

.winner-button:hover {
  cursor: pointer;
  background-color: #57cfa7;
}

.isWinner {
  border: 1px solid #0FBA81;
  box-shadow: 0 0 8px #0FBA81;
}

.isLoser {
  border: 1px solid #D41976;
  box-shadow: 0 0 8px #D41976;
}

.results-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.error-container {
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(212, 25, 118, 0.6);
  color: #e8eaf1;
  margin-bottom: 20px;
}