.submit-button{
  font-weight: 700;
  width: 265px;
  height: 81px;
  cursor: pointer;
  color: #313a50;
  background-color: #0FBA81;
  border-radius: 8px;
  transition: .2s ease-in-out 0s;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #57cfa7;
}

.error-container {
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(212, 25, 118, 0.6);
  color: #e8eaf1;
  margin-bottom: 20px;
}