<div class="card">
    <div class="top">
        <img [src]="userData['avatar_url']" class="avatar">
        <a href="https://www.github.com/{{userData.username}}" target="_blank">
            <h3 class="username">{{userData.username}}</h3>
        </a>
    </div>
    <div class="bottom">
        <p>Name: <span class="field-data">{{userData.name}}</span></p>
        <p>Location: <span class="field-data">{{userData.location}}</span></p>
        <p>Bio: <span class="field-data">{{userData.bio}}</span></p>
        <p>Titles: <span class="field-data">{{userData.titles}}</span></p>
        <p>Favorite Language: <span class="field-data">{{userData.favorite_language}}</span></p>
        <p>Public Repos: <span class="field-data">{{userData.public_repos}}</span></p>
        <p>Total Stars: <span class="field-data">{{userData.total_stars}}</span></p>
        <p>Highest Starred: <span class="field-data">{{userData.highest_starred}}</span></p>
        <p>Perfect Repos: <span class="field-data">{{userData.perfect_repos}}</span></p>
        <p>Followers: <span class="field-data">{{userData.followers}}</span></p>
        <p>Following: <span class="field-data">{{userData.following}}</span></p>
    </div>
</div>
